
<script th:src="@{/js/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/js/lib/tether/tether.min.js}"></script>
<script th:src="@{/js/lib/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins.js}" ></script>
<script th:src="@{/js/lib/jqueryui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/lobipanel/lobipanel.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/match-height/jquery.matchHeight.min.js}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:src="@{/js/lib/bootstrap-select/bootstrap-select.min.js}"></script>

<script th:src="@{/js/lib/datatables-net/datatables.min.js}"></script>

<script type="text/javascript">
    function calculateHeight() {
        var feet = $("#heightFeet").val();
        var inch = $("#heightInch").val();
        inch = (feet*12)+parseInt(inch);
        $("#heightCm").val(inch*2.54);
    }
    $('#heightFeet').on('change', function() {
        calculateHeight();
    })
    $('#heightInch').on('change', function() {
        calculateHeight();
    })

    $("#heightCm").ready(function () {
        var cm = $("#heightCm").val();
        var inch = cm/2.54;
        $("#heightFeet").val(parseInt(inch/12));
        $("#heightInch").val(parseInt(inch%12));
    });
</script>

<script type="text/javascript">
    //very_low - e , low - a , high - e, very_high -e,
    $(document).ready(function(){
        $('#measurements_table td.status_color').each(function(){
            if ($(this).text() == 'Obesity') {
                $(this).css('color','#f00');
            } else if ($(this).text() == 'Normal') {
                $(this).css('color','#008000');
            } else if ($(this).text() == 'Mild high') {
                $(this).css('color','#ff8000');
            } else if ($(this).text() == 'High normal') {
                $(this).css('color','#ff8000');
            } else if ($(this).text() == 'Overweight') {
                $(this).css('color','#ff8000');
            } else if ($(this).text() == 'Very low') {
                $(this).css('color','#f00');
            } else if ($(this).text() == 'Low') {
                $(this).css('color','#ff8000');
            } else if ($(this).text() == 'High') {
                $(this).css('color','#f00');
            } else if ($(this).text() == 'Very high') {
                $(this).css('color','#f00');
            } else if ($(this).text() == 'Underweight') {
                $(this).css('color','#ff8000');
            } else if ($(this).text() == 'obesity') {
                $(this).css('color','#f00');
            } else if ($(this).text() == 'Mild high') {
                $(this).css('color','#ff8000');
            } else if ($(this).text() == 'Moderate high') {
                $(this).css('color','#f00');
            } else if ($(this).text() == 'Severe high') {
                $(this).css('color','#f00');
            } else if ($(this).text() == 'Abnormal') {
                $(this).css('color','#f00');
            } else if ($(this).text() == 'Alarming') {
                $(this).css('color','#ff8000');
            } else if ($(this).text() == 'Emergency') {
                $(this).css('color','#f00');
            } else if ($(this).text() == 'Fever') {
                $(this).css('color','#f00');
            }  else if ($(this).text() == 'Healthy') {
                $(this).css('color','#008000');
            }
        });
    });
</script>
<script>
    $(document).ready(function(){
        $('.panel').lobiPanel({
            sortable: true
        });
        $('.panel').on('dragged.lobiPanel', function(ev, lobiPanel){
            $('.dahsboard-column').matchHeight();
        });

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'Day');
            dataTable.addColumn('number', 'Values');
            // A column for custom tooltip content
            dataTable.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});
            dataTable.addRows([
                ['MON',  130, ' '],
                ['TUE',  130, '130'],
                ['WED',  180, '180'],
                ['THU',  175, '175'],
                ['FRI',  200, '200'],
                ['SAT',  170, '170'],
                ['SUN',  250, '250'],
                ['MON',  220, '220'],
                ['TUE',  220, ' ']
            ]);

            var options = {
                height: 314,
                legend: 'none',
                areaOpacity: 0.18,
                axisTitlesPosition: 'out',
                hAxis: {
                    title: '',
                    textStyle: {
                        color: '#fff',
                        fontName: 'Proxima Nova',
                        fontSize: 11,
                        bold: true,
                        italic: false
                    },
                    textPosition: 'out'
                },
                vAxis: {
                    minValue: 0,
                    textPosition: 'out',
                    textStyle: {
                        color: '#fff',
                        fontName: 'Proxima Nova',
                        fontSize: 11,
                        bold: true,
                        italic: false
                    },
                    baselineColor: '#16b4fc',
                    ticks: [0,25,50,75,100,125,150,175,200,225,250,275,300,325,350],
                    gridlines: {
                        color: '#1ba0fc',
                        count: 15
                    },
                },
                lineWidth: 2,
                colors: ['#fff'],
                curveType: 'function',
                pointSize: 5,
                pointShapeType: 'circle',
                pointFillColor: '#f00',
                backgroundColor: {
                    fill: '#008ffb',
                    strokeWidth: 0,
                },
                chartArea:{
                    left:0,
                    top:0,
                    width:'100%',
                    height:'100%'
                },
                fontSize: 11,
                fontName: 'Proxima Nova',
                tooltip: {
                    trigger: 'selection',
                    isHtml: true
                }
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(dataTable, options);
        }
        $(window).resize(function(){
            drawChart();
            setTimeout(function(){
            }, 1000);
        });
    });
</script>
<script>
    $(function() {
        $('#example').DataTable({
            responsive: true,
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        });
    });
</script>

<script type="text/javascript" th:src="@{/js/jquery.spring-friendly.js}"></script>
<script type="text/javascript" th:src="@{/js/dashboard.js}"></script>


<script type="text/javascript" th:src="@{/js/lib/moment/moment-with-locales.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/lib/clockpicker/bootstrap-clockpicker.min.js}"></script>
<script th:src="@{/js/lib/clockpicker/bootstrap-clockpicker-init.js}"></script>
<script th:src="@{/js/lib/daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/js/lib/bootstrap-select/bootstrap-select.min.js}"></script>
<script>
    $(function() {
        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        cb(moment().subtract(720, 'days'), moment());

        $('#daterange').daterangepicker({
            "timePicker": true,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            "linkedCalendars": false,
            "autoUpdateInput": false,
            "alwaysShowCalendars": true,
            "showWeekNumbers": true,
            "showDropdowns": true,
            "showISOWeekNumbers": true
        });

        $('#daterange2').daterangepicker();

        $('#daterange9').daterangepicker();

        $('#daterange3').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true
        });

        $('#daterange').on('show.daterangepicker', function(ev, picker) {
            /*$('.daterangepicker select').selectpicker({
             size: 10
             });*/
        });

        /* ==========================================================================
         Datepicker
         ========================================================================== */

        $('.datetimepicker-1').datetimepicker({
            format: 'DD/MM/YYYY',
            widgetPositioning: {
                horizontal: 'right'
            },
            debug: false
        });

        $('.datetimepicker-100').datetimepicker({
            format: 'DD/MM/YYYY',
            widgetPositioning: {
                horizontal: 'right'
            },
            debug: false
        });

        $('.datetimepicker-2').datetimepicker({
            widgetPositioning: {
                horizontal: 'right'
            },
            format: 'LT',
            debug: false
        });
    });
</script>
<script th:src="@{/js/app.js}"></script>