<link rel="stylesheet" th:href="@{/css/lib/lobipanel/lobipanel.min.css}">
<link rel="stylesheet" th:href="@{/css/lib/jqueryui/jquery-ui.min.css}">
<link rel="stylesheet" th:href="@{/css/separate/pages/widgets.min.css}">
<link rel="stylesheet" th:href="@{/css/lib/datatables-net/datatables.min.css}">
<link rel="stylesheet" th:href="@{/css/separate/vendor/datatables-net.min.css}">
<link rel="stylesheet" th:href="@{/css/separate/vendor/bootstrap-datetimepicker.min.css}">
<link rel="stylesheet" th:href="@{/css/separate/vendor/bootstrap-daterangepicker.min.css}">
<link rel="stylesheet" th:href="@{/css/lib/clockpicker/bootstrap-clockpicker.min.css}">
<link rel="stylesheet" th:href="@{/css/separate/vendor/bootstrap-select/bootstrap-select.min.css}">
<link rel="stylesheet" th:href="@{/css/lib/font-awesome/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/lib/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.source.css}">
<link rel="stylesheet" th:href="@{/css/custom.css}">