<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/base_layout">

<div layout:fragment="content">

    <section class="card">
        hello all users
    </section>

    <section>
        <div class="card-block">
            <div class="tbl-row">
                <h4 style="padding-left: 20px;padding-top: 20px;" th:text="${user?.Name}">User name</h4>
            </div>
        </div>
    </section>

    <section>
        <h2> Assigned tasks</h2>
        <table class="table">
            <tr>
                <th>name</th>
                <th>status</th>
                <th>priority</th>
            </tr>
            <tr th:each="task : ${tasks}">
                <td th:text="${task?.name}"></td>
                <td th:text="${task?.status}"></td>
                <td th:text="${task?.priority}"></td>

            </tr>
        </table>
    </section>

</div>

</html>
